In [6]:
a_number = 5
print(a_number, '---', id(a_number))

a_number =6
print (a_number, '---', id(a_number))

5 --- 4341522928
6 --- 4341522960

In [11]:
name_1 = 'lien'
print(name_1,'---', id(name_1))

name_2 = name_1
print(name_2,'---', id(name_2))

name_2 = 'mien'
print(name_2, '---',id(name_2))

lien --- 4383432112
lien --- 4383432112
mien --- 4385309872

In [10]:
name_1 = 'anh'
print(name_1,'---', id(name_1))

name_2 = name_1
print(name_2,'---', id(name_2))

name_2 = 'oanh'
print(name_2,'---', id(name_2))

anh --- 4385311728
anh --- 4385311728
oanh --- 4385311856

In [15]:
number_1 = 12
number_2 = 12
print(id(number_1))
print(id(number_2))

4341523152
4341523152

In [13]:
name_1 = 'A'
print(name_1,'---',id(name_1))

name_2= 'A'
print(name_2,'---', id(name_2))

A --- 4346496432
A --- 4346496432

In [16]:
a_list = [1,2,3]
print(a_list, id(a_list))

a_list[1] = 5
print(a_list, id(a_list))

[1, 2, 3] 4384654432
[1, 5, 3] 4384654432

In [18]:
a_list = [1,[1,2],3]
print(a_list,id(a_list))
print(id(a_list[0]))
print(id(a_list[1]))
print(id(a_list[2]))

print('\n')
a_list[1][0] = 5
a_list[0] = 8

print(a_list, id(a_list))
print(id(a_list[0]))
print(id(a_list[1]))
print(id(a_list[2]))

[1, [1, 2], 3] 4385383440
4341522800
4385383200
4341522864


[8, [5, 2], 3] 4385383440
4341523024
4385383200
4341522864